<div class="login-form">
    <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="dropdown">
        <i class="fa fa-user user" style="font-size:36px" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/user-details">Profile</a></li>
            <li><a class="dropdown-item" href="/change-password">Change Password</a></li>
            <li><a class="dropdown-item" (click)="logout()" href="/Login">Logout</a></li>
          </ul>
          </div>
        <fieldset>
          <div class="login">
            <h1 class="login-header">Forgot Password</h1><br>
          </div>
              <h6 class="OTP">Please enter OTP sent to your emailID</h6>
              <!-- <div> -->
                  
                  <div class="row otp">
                    <h6 class="enterotp">Enter OTP</h6>
                    <div class="form-group col-sm-1 otp-array" *ngFor="let input of formInput;  index as i">
                    <input #formRow type="text" formControlName="{{input}}" class="col-xs-offset-2 otp-input" maxlength="1">
                    </div>
                    <a href="" class="Resend-OTP">Resend OTP</a>
                    </div>
              <!-- </div> -->
          <div class="control-group">
            <label class="control-label"  for="username">New Password</label>&nbsp;&nbsp;
              <input type="text" id="username" formControlName="emailid" [ngClass]="{ 'is-invalid': submitted && f['emailid'].errors }" placeholder="" class="input-xlarge">
              <div *ngIf="submitted && f['emailid'].errors" class="invalid-feedback">
                <div *ngIf="f['emailid'].errors?.['required']">Email ID is required</div>
          </div>
          </div>

          <div class="control-group-pass">
            <label class="control-label" for="password">Confirm Password</label>&nbsp;&nbsp;
              <input type="password" id="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" name="password" placeholder="" class="input-xlarge">
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors?.['required']">Password is required</div>
          </div>
          </div>


          <div class="control-group-submit">
              <button class="btn btn-success submit">Submit</button>
          </div>
        </fieldset>
      </form>
</div>
