.control-group{
    margin-left: 295px;
    margin-top: 110px;
}

.control-group-submit{
    margin-left: 340px;
    margin-top: 80px;
}

.login-header{
    margin-left:1px;
}

.OTP{
    margin-top: 10px;
    margin-left: 303px
}

.enterotp{
    position: absolute;
    margin-top:50px;
    
}

.otp-array{
    margin-top: 45px;
}

.otp-input{
    width: 34px;
    margin-left: 90px;
    /* width: 2em;
    height: 35px; */
}

.Resend-OTP{
    color: red;
    margin-top:5px;
    margin-left: 2px;
}

.otp{
    margin-left: 290px;
}

.user{
    float: right;
}