/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.control-group{
    margin-left: 150px;
    margin-top: 110px;
}

.login-form{
    max-width: 1150px;
    width: 640px;
    height: 650px;
    /* margin: 7em auto; */
    margin-top: 20px;
    margin-left: 410px;
  background-color: #FFFFFF;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
   
}

body{
    height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: lightblue;
}

.login-header{
    margin-left:25px;
}

.login{
    color:blue;
    margin-top: 50px;
    margin-left: 200px;
}

.control-group-pass{ 
    margin-left: 138px;
    margin-top: 30px;
}

.control-group-submit{
    margin-left: 250px;
    margin-top: 80px;
}
.submit{
    margin-left: 24px;
}

.forgot-pass{
    color: red;
   
}

.invalid-feedback{
    margin-top: 10px;
    margin-left: 110px;
}

.hyper{
    margin-right: 10px;
    color:red;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
