<body>
    <div class="container-fluid">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <h3>Please enter OTP sent to your emailID</h3>
        <h3>Enter your OTP </h3>
        <div class="row">
        <div class="col-sm-1" *ngFor="let input of formInput;  index as i">
        <input #formRow type="text" formControlName="{{input}}" style="display:inline-block;" maxlength="1" class="form-control" (keyup)="keyUpEvent($event, i)">
        </div>
        </div><br>
        <a class="hyper">Resend OTP</a>
        <br><br><br>
    
        <button type="submit" class="btn btn-primary submit">Submit</button>
        </form>
        </div>
    </body>