.form-control{
    width: 40px;
    height: 40px; 
}

/* .row{
    display: grid;
} */

.container-fluid{
    margin-top: 100px;
    margin-left: 500px;
}
.txt{
    display: inline-block;

    padding: 5px;
}

.txt1{
    display: grid;
}

.submit{
    margin-left: 150px;
}
