<body>
    <div class="login-form">
        <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <fieldset>
              <div class="login">
                <h1 class="login-header">Login</h1><br>
                <a href="/Register" class="hyper">Don't have an account?<br>
                    Create your Account</a>
              </div>    
              <div class="control-group">
                <label class="control-label"  for="username">Email ID</label>&nbsp;&nbsp;
                  <input type="text" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" placeholder="" class="input-xlarge">
                  <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors?.['required']">Email ID is required</div>
              </div>
              </div>
    
              <div class="control-group-pass">
                <label class="control-label" for="password">Password</label>&nbsp;&nbsp;
                  <input type="password" id="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" name="password" placeholder="" class="input-xlarge">
                  <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors?.['required']">Password is required</div>
              </div>
              </div>    
    
              <div class="control-group-submit">
                  <button class="btn btn-success submit">Login</button><br><br>
                  <a href="/forgot-password" class="forgot-pass">Forgot Password ?</a>
              </div>
            </fieldset>
          </form>
    </div>
    </body>
    
