<div class="login-form">
    <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="dropdown">
        <i class="fa fa-user user" style="font-size:36px" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/user-details">Profile</a></li>
            <li><a class="dropdown-item" href="/change-password">Change Password</a></li>
            <li><a class="dropdown-item" (click)="logout()" href="/Login">Logout</a></li>
          </ul>
          </div>
        <fieldset>
          <div class="login">
            <h1 class="login-header">Change Password</h1><br>
          </div>    
          <div class="control-group">
            <label class="control-label"  for="username">Old Password</label>&nbsp;&nbsp;
              <input type="password" id="username" formControlName="emailid" [ngClass]="{ 'is-invalid': submitted && f['emailid'].errors }" placeholder="" class="input-xlarge">
              <div *ngIf="submitted && f['emailid'].errors" class="invalid-feedback">
                <div *ngIf="f['emailid'].errors?.['required']">Old Password is required</div>
          </div>
          </div>

          <div class="control-group-pass">
            <label class="control-label" for="password">New Password</label>&nbsp;&nbsp;
              <input type="password" id="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" name="password" placeholder="" class="input-xlarge">
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors?.['required']">New Password is required</div>
          </div>
          </div>

          <div class="control-group-confpass">
            <label class="control-label" for="password">Confirm Password</label>&nbsp;&nbsp;
              <input type="password" id="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" name="password" placeholder="" class="input-xlarge">
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors?.['required']">Confirm Password is required</div>
          </div>
          </div><br>
          <a href="" class="Resend-OTP">Refer to a password policy</a>


          <div class="control-group-submit">
              <button class="btn btn-success submit">Submit</button>
          </div>
        </fieldset>
      </form>
</div>


